/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.hidden {
  display: none !important;
}


.container {
  max-width: 1500px;
}

 .column-half {
    width: 50%;
  }

  /* when we have five elements in one row */

/* .column-fifth {
  width: 20%;
}

.column-third {
  width: calc(100% / 3);
} */

/* starts at smaller devices like for phones */

/* .container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
} */

/* .row {
  display: flex;
  flex-wrap: wrap;
} */

/* all columns in small screen will take 100% of the row so only one item in one row or two */

/* .column-full,
.column-fifth {
  width: 100%;
} */

/* .column-half {
  width: 50%;
} */

/* .column-third {
  width: calc(100% / 3);
} */

/* starting from 768px and above  */

/* or when screen is desktop */

/* @media screen and (width >= 768px) { */

/* we only changed the width when the screen is bigger, but the container will stay
  in the middle because margin in auto on the to top ruleset */

/* .container {
    max-width: 1500px;
  } */

/* when two items in one row each will take half the row */

/* .column-half {
    width: 50%;
  } */

/* when we have five elements in one row */

/* .column-fifth {
    width: 20%;
  }

  .column-third {
    width: calc(100% / 3);
  }
} */
