.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* starts at smaller devices like for phones */

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100px;
}

.container-page {
  /* max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem; */
  position: absolute;
  top: 18%;
  left: 14.1%;
  width: 67%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-1 {
  padding: 1rem;
}

/* all columns in small screen will take 100% of the row so only one item in one row or two */

.column-fifth {
  width: 20%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.column-full {
  width: 100%;
}

/* starting from 768px and above  */

/* or when screen is desktop */

/* we only changed the width when the screen is bigger, but the container will stay
  in the middle because margin in auto on the to top ruleset */

/* when two items in one row each will take half the row */

/* when we have five elements in one row, it will be column-fifth or five elements in one row */

@media screen and (width < 480px) {
  .container-page {
    position: absolute;
    top: 5%;
    left: -2%;
    width: 100%;
  }
}
