.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100px;
}

.container-page {
  position: absolute;
  top: 18%;
  left: 14.1%;
  width: 67%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.flex-column {
  flex-direction: column;
}

.width-100 {
  width: 100%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-1 {
  padding: 1rem;
}


.column-fifth {
  width: 20%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.column-full {
  width: 100%;
}


@media screen and (width < 480px) {
  .container-page {
    position: absolute;
    top: 5%;
    left: -2%;
    width: 100%;
  }
}
