.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* starts at smaller devices like for phones */

/* .container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
} */

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.width-100 {
  width: 100%;
}

.width-aside {
  width: 12.5%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.padding-1 {
  padding: 1rem;
}

/* all columns in small screen will take 100% of the row so only one item in one row or two */

/* .column-full,
.column-fifth {
  width: 100%;
} */

.column-fifth {
  width: 20%;
}

.column-half {
  width: 50%;
}

.column-third {
  width: calc(100% / 3);
}

.column-full {
  width: 100%;
}

/* starting from 768px and above  */

/* or when screen is desktop */

/* @media screen and (width >= 768px) { */

/* we only changed the width when the screen is bigger, but the container will stay
  in the middle because margin in auto on the to top ruleset */

/* .container {
    max-width: 1500px;
  } */

/* when two items in one row each will take half the row */

/* .column-half {
    width: 50%;
  } */

/* when we have five elements in one row */

/* .column-fifth {
    width: 20%;
  }

  .column-third {
    width: calc(100% / 3);
  }
} */
