.text-alignmnt {
  max-width: 352px;
  font-size: xxx-large;
}

.position-icon {
  width: 100%;
}

/* making the container only in the white menu area in the background image */

.margin-left-home {
  margin-left: 50px;
}

.margin-top-home {
  margin-top: 200px;
}
