.font-color {
  color: rgb(189, 187, 187);
  margin-top: 50px;
}

/* .container-new-recipe {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1.5rem; */

/* height: 100vh; causing the content to be higher than the height
  because this height is fixed not percentage % */

/* } */
.container-new-recipe {
  position: absolute;
  top: 18%;
  left: 14.1%;
  width: 67%;
}

.request-container {
  border-color: rgb(199, 87, 35);
  border-width: 20px;
  border-radius: 10px;
}

.add-margin-new-recipe {
  margin: 10px;
  cursor: pointer;
}

.flex-dir {
  flex-direction: column;
  justify-content: space-between;

  /* height: 95vh; causing the content to be higher than the height
  because this height is fixed not percentage % */
}

.popup {
  border-color: rgb(199, 87, 35);
  border-width: 10px;
  border-radius: 10px;
  position: absolute;
  top: 400px;
}

/* .sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 100px;
} */

.align-text {
  text-align: center;
}

.margin-top-new-recipe {
  margin-top: 200px;
  margin-left: 49px;
}

@media screen and (width < 480px) {
  .img-recipe {
    width: 70%;
  }

  .container-new-recipe {
    position: absolute;
    top: 6%;
    left: -5%;
    width: 110%;
  }
}
