.h2-register {
  margin-right: 390px;
  font-size: xxx-large;
}

.btn-style-register {
  background-color: orangered;
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 7px;
  margin-right: 200px;
  padding: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.add-padding {
  padding-bottom: 20px;
}

.add-margin {
  margin-right: 250px;
}

@media screen and (width < 480px) {
  .h2-register {
    font-size: xxx-large;
    margin-right: 100px;
  }
}
